@model FeedBackPlatformWeb.Models.Surveys.QuestionDetails

<div class="modal fade" id="editQuestion-@Model.QuestionId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" id="ModalForAddQuestion">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="editQuestionForm" data-form-edit-question="@Model.QuestionId">
                    <div class="input-group mt-3 mb-3">
                        @Html.TextBox("Description", Model.Description, new { @class = "form-control createSurveyInput questionInput" })
                        @Html.Hidden("QuestionType", Model.QuestionType, new { @class = "form-control createSurveyInput questionInputForType" })
                        @Html.Hidden("SurveyId", Model.SurveyId, new { @class = "form-control createSurveyInput questionInputForSurveyId" })
                        @Html.Hidden("QuestionId", Model.QuestionId, new { @class = "form-control createSurveyInput questionInputForQuestionId" })

                    </div>
                    <div id="div-for-answers">
                        @if (Model.QuestionType == "Comment box")
                        {
                            <div id="commentBox" class="ridge commentBox">
                                <div class=""><textarea class="form-control createSurveyInput" cols="20" id="Content" name="Content" rows="2"></textarea></div>
                            </div>
                        }
                        else
                        {
                            <div class="ridge multipleChoice">
                                <table class="input-group mt-3 mb-3">
                                    <tbody class="@(Model.QuestionType == "Single Choice"? "tableForMultipleChoice" : "tableForCheckbox")">
                                        @for (int i = 0; i < Model.QuestionAnswers.Count(); i++)
                                        {
                                            var qa = Model.QuestionAnswers[i];
                                            if (Model.QuestionType == "Single Choice")
                                            {
                                                <tr class="answer-choice">
                                                    <td class="checkBox-for-response">
                                                        <label class="checkmark-label">
                                                            <input type="radio" class="checkmark" value="" disabled>
                                                        </label>
                                                    </td>
                                                    <td class="input-for-response">
                                                        @Html.TextBox("QuestionAnswers[" + i + "].Description", qa.Description, new { @class = "form-control createSurveyInput questionAnswerInputMultipleChoice" })
                                                        @Html.Hidden("QuestionAnswers[" + i + "].AnswerId", qa.AnswerId, new { @class = "form-control createSurveyInput questionAnswerId" })
                                                        @Html.Hidden("QuestionAnswers[" + i + "].IsDeleted", qa.IsDeleted, new { @class = "form-control createSurveyInput questionInputForDeleteAnswer" })
                                                    </td>
                                                    <td class="add-delete-response">
                                                        <span class="delete-answer"><img src="/Content/img/icon-delete.png"></span>
                                                    </td>
                                                </tr>
                                            }
                                            else if (Model.QuestionType == "Checkboxes")
                                            {
                                                <tr class="answer-choice">
                                                    <td class="checkBox-for-response">
                                                        <label class="checkmark-label">
                                                            <input type="checkbox" class="checkmark" value="" disabled>
                                                        </label>
                                                    </td>
                                                    <td class="input-for-response">
                                                        @Html.TextBox("QuestionAnswers[" + i + "].Description", qa.Description, new { @class = "form-control createSurveyInput questionAnswerInputCheckbox" })
                                                        @Html.Hidden("QuestionAnswers[" + i + "].AnswerId", qa.AnswerId, new { @class = "form-control createSurveyInput questionAnswerId" })
                                                    </td>
                                                    <td class="add-delete-response">
                                                        <span class="delete-answer"><img src="/Content/img/icon-delete.png"></span>
                                                    </td>
                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                                <br />
                                <div style="text-align:right">
                                    <button id="" class="btn btn-primary @(Model.QuestionType == "Single Choice"? "edit-response-multipleChoice" : "edit-response-checkbox")" data-edit-question-button="@Model.QuestionId"><i class="fa fa-plus-circle" style="padding-right:3px"></i>Add</button>
                                </div>
                            </div>
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary SaveAfterEditQuestionButton" data-button-for-save-edit="@Model.QuestionId" type="button" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>